<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../partials/admin_head.ejs") %>
    <title>Revenue vs Time Line Graph</title>
    <Style>
      .cont{ margin-bottom: 0; } .row{ margin-bottom: 0; } .list_item{ display:
      flex; flex-direction: roow; align-items: center; padding: 4px; }
    </Style>
  </head>
  <body>
    <header><%- include("../../partials/admin_navbar1.ejs") %></header>

    <main>
      <div class="cont">
        <div class="row">
          <div class="col s6 m2 l2 grey" style="min-height: 100vh">
            <ul>
              <li class="list_item">
                <span
                  class="material-icons white-text"
                  style="padding-right: 4px"
                >
                  account_circle
                </span>
                <a href="#"> account</a>
              </li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>

          <div class="col s6 m10 l10 red" style="min-height: 100vh">
            this is the main section
            <div class="row green">
              <h4 class="center-align">Welcome back <%= username %></h4>
            </div>
            <div class="row">
              <div class="col s12 l6 white" style="height: 100%">

                <h6 class="center-align">Product Ratings</h6>
                <div id="chart" class="center-align"></div>
                <!-- Pass the data to the frontend using a script tag -->
                <script>
                  const ratingsData = <%- JSON.stringify(ratings) %>;
                </script>
              </div>
              <div class="col s12 l6 blue" style="height: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include("../../partials/admin_footer.ejs") %>

    <script src="../../public/js/dashboard.js"></script>
    <script src="../../public/js/revenue.js"></script>
  </body>
  <%- include("../../partials/admin_foot.ejs") %>
</html>
