<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../../partials/admin_head.ejs") %>
  <title>Revenue vs Time Line Graph</title>

</head>
<body>
  <header>
    <%- include("../../partials/admin_navbar1.ejs") %>
</header>

  <main>
    <div class="container">
      <h4 class="center-align">Welcome back <%= username %></h4>
    
  
      




      <div class="chart">
        <!-- Line Graph Container -->
        <svg id="lineGraph" width="500" height="300"></svg>
    
        <!-- Pie Chart Container -->
        <svg id="pieChart" width="500" height="300"></svg>
      </div>
</div>
</main>
<%-  include("../../partials/admin_footer.ejs") %>



<script src="../../public/js/rating.js"></script>
  <script src="../../public/js/revenue.js"></script>
  
</body>
<%- include("../../partials/admin_foot.ejs") %>
</html>
