<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../../partials/admin_head.ejs") %>
  <title>Revenue vs Time Line Graph</title>
  <Style>
    .cont{
     margin-left: 1rem;
     margin-right: 1rem;
     margin-bottom: 0;
    }
    .row{
      margin-bottom: 0;
    }
  
  </Style>

</head>
<body>
  <header>
    <%- include("../../partials/admin_navbar1.ejs") %>
</header>

  <main>
    <div class="cont">
      <h4 class="center-align">Welcome back <%= username %></h4>
      <div class="row">
    <div class="col s6 m2 l2 grey">
this is the nav section
    </div>

<div class="col s6 m10 l10 red" >
this is the main section
</div>
</div>
  
      

      
</div>
</main>
<%-  include("../../partials/admin_footer.ejs") %>



<script src="../../public/js/rating.js"></script>
  <script src="../../public/js/revenue.js"></script>
  
</body>
<%- include("../../partials/admin_foot.ejs") %>
</html>
